html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #232323;
  color: #fff;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
}

::-webkit-scrollbar-track {
  display: none;
}

.nav-bar {
  background-color: rgba(2, 2, 2, 0.3);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 7.5vh;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-bar li {
  display: inline;
}

.nav-bar a {
  display: inline-block;
  padding: 1.5vh 4.5vw;
  text-decoration: none;
  color: #fff;
  font-size: 27px;
  font-size: clamp(18px, 5vw, 27px);
  font-weight: 450;
}

.section-one {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.78))), url("../Images/FirstAidBackground.jpg");
  background: linear-gradient(rgba(2, 2, 2, 0.78)), url("../Images/FirstAidBackground.jpg");
  background-size: cover;
  background-position: 70% 50%;
}

.section-one .main-elements {
  text-align: center;
  vertical-align: middle;
  padding-top: 10em;
}

.section-one .main-elements h1 {
  margin-bottom: 0.75em;
  font-size: clamp(36px, 5vw, 83px);
  font-weight: 600;
  padding: 0 1em;
}

.section-one .main-elements p {
  font-size: clamp(15px, 5vw, 30px);
  padding: 0 1em;
  margin-bottom: 2.5em;
}

.section-one .main-elements span {
  color: #FF4842;
}

.section-one .main-elements .learn-more-btn {
  text-decoration: none;
  color: white;
  padding: 0.8em;
  border-radius: 10px;
  background-color: #FF4842;
}

.section-one .main-elements .learn-more-btn:hover {
  background-color: #cc3a35;
  border: 2px solid rgba(2, 2, 2, 0.3);
}

.arrow-down {
  position: relative;
  top: 98%;
  left: 50%;
  -webkit-transform: translate(-50%, -98%);
          transform: translate(-50%, -98%);
  height: 30px;
}

.section-two {
  padding: 4em 0;
  background: #232323;
  height: 100vh;
  position: relative;
}

.section-two .main-elements {
  text-align: center;
  margin: 0 1em;
}

.section-two .main-elements span {
  color: #FF4842;
}

.section-two .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-two .main-elements h2 {
  font-weight: 200;
  font-size: 1.25em;
}

.section-two .join-form {
  width: auto;
  background: #FF4842;
  border-radius: 5px;
  padding: 2em;
  margin-top: 3.3em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section-two .join-form .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .2em;
}

.section-two .join-form .input-form input {
  padding: 1.3em 8em;
  margin: 10px 0;
  background-color: rgba(2, 2, 2, 0.3);
  border: 2px solid transparent;
  border-radius: 8px;
  color: #fff;
}

.section-two .join-form .input-form ::-webkit-input-placeholder {
  color: #fff;
  opacity: .8;
  text-align: center;
}

.section-two .join-form .input-form :-ms-input-placeholder {
  color: #fff;
  opacity: .8;
  text-align: center;
}

.section-two .join-form .input-form ::-ms-input-placeholder {
  color: #fff;
  opacity: .8;
  text-align: center;
}

.section-two .join-form .input-form ::placeholder {
  color: #fff;
  opacity: .8;
  text-align: center;
}

.section-two .join-form .input-form :-ms-input-placeholder {
  color: #fff;
  opacity: .8;
  text-align: center;
}

.section-two .join-form .input-form button {
  color: white;
  font-weight: 500;
  margin: 10px 0;
  padding: 1.3em;
  border-radius: 10px;
  background-color: rgba(2, 2, 2, 0.5);
  border: 2px solid transparent;
  cursor: pointer;
}

.section-two .join-form .input-form button:hover {
  background-color: rgba(2, 2, 2, 0.2);
  border: 2px solid rgba(2, 2, 2, 0.3);
}

.section-three {
  background: #232323;
  height: auto;
  width: 100%;
}

.section-three .main-elements {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section-three .main-elements span {
  color: #FF4842;
}

.section-three .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-three .main-elements h2 {
  font-weight: 200;
  font-size: 1.25em;
}

.section-three .main-elements h2 span {
  text-transform: uppercase;
  font-weight: 700;
}

.section-three .main-elements .group-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 3fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10rem, 3fr));
}

.section-three .main-elements .group-cards .person-card {
  width: auto;
}

.section-three .main-elements .group-cards .person-card h1 {
  font-size: 2em;
  margin: 0 auto;
}

.section-three .main-elements .group-cards .person-card p {
  margin-top: 0.5em;
  font-size: 1em;
}

.section-three .main-elements .group-cards .person-card img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.section-four {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0.78))), url("../Images/FirstAidBackground.jpg");
  background: linear-gradient(rgba(2, 2, 2, 0.78)), url("../Images/FirstAidBackground.jpg");
  background-size: cover;
  background-position: 70% 50%;
}

.section-four .main-elements {
  text-align: center;
  vertical-align: middle;
  padding-top: 13em;
}

.section-four .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
  font-weight: 600;
}

.section-four .main-elements span {
  color: #FF4842;
}

.section-five {
  padding: 4em 0;
  background: #232323;
  height: auto;
  position: relative;
}

.section-five .main-elements {
  text-align: center;
  margin: 0 1em;
}

.section-five .main-elements span {
  color: #FF4842;
}

.section-five .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-five .main-elements h2 {
  font-weight: 200;
  font-size: 1.25em;
}

.section-six {
  height: auto;
  margin: 0 1em;
}

.section-six .main-elements {
  text-align: center;
}

.section-six .main-elements span {
  color: #FF4842;
}

.section-six .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-six .main-elements p {
  margin: 3em 0;
}

.section-seven {
  padding: 4em 0;
  background: #232323;
  height: auto;
  position: relative;
}

.section-seven .main-elements {
  text-align: center;
  margin: 0 1em;
}

.section-seven .main-elements span {
  color: #FF4842;
}

.section-seven .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-seven .main-elements h2 {
  font-weight: 200;
  font-size: 1.25em;
}

.section-eight {
  height: auto;
  margin: 0 1em;
}

.section-eight .main-elements {
  text-align: center;
}

.section-eight .main-elements span {
  color: #FF4842;
}

.section-eight .main-elements h1 {
  font-size: clamp(36px, 5vw, 83px);
}

.section-eight .main-elements p {
  margin: 3em 0;
  text-align: start;
}

.section-nine {
  height: 65vh;
}

.section-nine .main-elements {
  text-align: center;
  padding-top: 10em;
}

.section-nine .main-elements h1 {
  margin-bottom: 1.25em;
  font-size: clamp(36px, 5vw, 83px);
  font-weight: 600;
  padding: 0 1em;
}

.section-nine .main-elements span {
  color: #FF4842;
}

.section-nine .main-elements .learn-more-btn {
  text-decoration: none;
  color: white;
  padding: 0.8em;
  border-radius: 10px;
  background-color: #FF4842;
}

.section-nine .main-elements .learn-more-btn:hover {
  background-color: #cc3a35;
  border: 2px solid rgba(2, 2, 2, 0.3);
}

.separate-elements {
  margin: 16em 0;
}

@media (min-width: 975px) {
  .section-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-two .main-elements {
    text-align: start;
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 40em;
  }
  .section-two .main-elements h1 {
    margin-bottom: .5em;
  }
  .section-two .main-elements h2 {
    font-weight: 200;
    font-size: 1.9em;
  }
  .section-two .main-elements p {
    font-size: 1.1em;
  }
  .section-two .join-form {
    left: 100%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    margin-left: -5em;
  }
  .section-five {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 95vh;
  }
  .section-five .main-elements {
    text-align: start;
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 40em;
  }
  .section-five .main-elements h1 {
    margin-bottom: .5em;
  }
  .section-five .main-elements h2 {
    font-weight: 200;
    font-size: 1.9em;
  }
  .section-five .main-elements p {
    font-size: 1.1em;
  }
  .section-five .join-form {
    left: 100%;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    margin-left: -5em;
  }
  .section-six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-six .main-elements {
    margin: 0 8em;
  }
  .section-six .separate-elements {
    margin: 18.5em 0;
  }
  .section-seven {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-seven .main-elements {
    text-align: end;
    margin-top: 4em;
    margin-left: 40em;
    margin-right: 5em;
  }
  .section-seven .main-elements h1 {
    margin-bottom: .5em;
  }
  .section-seven .main-elements h2 {
    font-weight: 200;
    font-size: 1.9em;
  }
  .section-seven .main-elements p {
    font-size: 1.1em;
  }
  .section-eight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-eight .main-elements {
    margin: 0 3.5em;
  }
  .section-eight .main-elements li {
    line-height: 1%;
  }
}
/*# sourceMappingURL=styles.css.map */