html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #232323;
    color: #fff;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background:rgb(126, 126, 126);
}

::-webkit-scrollbar-track {
    display: none;
}

.nav-bar {
    background-color: rgba(2, 2, 2, .3);
    list-style: none;
    margin:0;
    padding: 0;
    text-align:center;
    height: 7.5vh;
    position: fixed;
    width: 100%;
    z-index: 99;
    li {
        display: inline;
    }
    a {
        display: inline-block;
        padding: 1.5vh 4.5vw;
        text-decoration: none;
        color: #fff;
        font-size: 27px;
        font-size: clamp(18px, 5vw, 27px);
        font-weight: 450;
    }
}

.section-one {
    height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.78)), url("../Images/FirstAidBackground.jpg");
    background-size: cover;
    background-position: 70% 50%;
    .main-elements {
        text-align: center;
        vertical-align: middle;
        padding-top: 10em;
        h1 {
            margin-bottom: 0.75em;
            font-size: clamp(36px, 5vw, 83px);
            font-weight: 600;
            padding: 0 1em;
        }
        p {
            font-size: clamp(15px, 5vw, 30px);
            padding: 0 1em;
            margin-bottom: 2.5em;
        }
        span {
            color: #FF4842;
        }
        .learn-more-btn {
            text-decoration: none;
            color: white;
            padding: 0.8em;
            border-radius: 10px;
            background-color: #FF4842;
        }
        .learn-more-btn:hover {
            background-color: #cc3a35;
            border: 2px solid rgba(2, 2, 2, .3);
        }
    }
}

.arrow-down {
    position: relative;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
    height: 30px;
}

.section-two {
    padding: 4em 0;
    background: #232323;
    height: 100vh;
    position: relative;
    .main-elements {
        text-align: center;
        margin: 0 1em;
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        h2 {
            font-weight: 200;
            font-size: 1.25em;
        }
    }
    .join-form {
        width: auto;
        background: #FF4842;
        border-radius: 5px;
        padding: 2em;
        margin-top: 3.3em;
        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%);
        .input-form {
            display: flex;
            flex-direction: column;
            padding: .2em;
            input {
                padding: 1.3em 8em;
                margin: 10px 0;
                background-color: rgba(2, 2, 2, .3);
                border: 2px solid transparent;
                border-radius: 8px;
                color: #fff;    
            }
            ::placeholder {
                color: #fff;
                opacity: .8;
                text-align: center;
            }
            :-ms-input-placeholder {
                color: #fff;
                opacity: .8;
                text-align: center;
            }
            button {
                color: white;
                font-weight: 500;
                margin: 10px 0;
                padding: 1.3em;
                border-radius: 10px;
                background-color: rgba(2, 2, 2, .5);
                border: 2px solid transparent;
                cursor: pointer;
            }
            button:hover {
                background-color: rgba(2, 2, 2, .2);
                border: 2px solid rgba(2, 2, 2, .3);
            }
        }
    }
}

.section-three {
    background: #232323;
    height: auto;
    width: 100%;
    .main-elements {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        h2 {
            font-weight: 200;
            font-size: 1.25em;
            span {
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        .group-cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(10rem, 3fr));
            .person-card {
                width: auto;
                h1 {
                    font-size: 2em;
                    margin: 0 auto;
                }
                p {
                    margin-top: 0.5em;
                    font-size: 1em;
                }
                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 10px;
                }
            }
        }
    }  
}

//This is for the Proposal Page

.section-four {
    height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.78)), url("../Images/FirstAidBackground.jpg");
    background-size: cover;
    background-position: 70% 50%;
    .main-elements {
        text-align: center;
        vertical-align: middle;
        padding-top: 13em;
        h1 {
            font-size: clamp(36px, 5vw, 83px);
            font-weight: 600;
        }
        span {
            color: #FF4842;
        }
    }
}

.section-five {
    padding: 4em 0;
    background: #232323;
    height: auto;
    position: relative;
    .main-elements {
        text-align: center;
        margin: 0 1em;
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        h2 {
            font-weight: 200;
            font-size: 1.25em;
        }
    }
}

.section-six {
    height: auto;   
    margin: 0 1em;
    .main-elements {
        text-align: center;
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        p {
            margin: 3em 0;
        }
    }
}

.section-seven {
    padding: 4em 0;
    background: #232323;
    height: auto;
    position: relative;
    .main-elements {
        text-align: center;
        margin: 0 1em;
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        h2 {
            font-weight: 200;
            font-size: 1.25em;
        }
    }
}

.section-eight {
    height: auto;
    margin: 0 1em;
    .main-elements {
        text-align: center;
        span {
            color: #FF4842;
        }
        h1 {
            font-size: clamp(36px, 5vw, 83px);
        }
        p {
            margin: 3em 0;
            text-align: start;
        }
    }  
}

.section-nine {
    height: 65vh;
    .main-elements {
        text-align: center;
        padding-top: 10em;
        h1 {
            margin-bottom: 1.25em;
            font-size: clamp(36px, 5vw, 83px);
            font-weight: 600;
            padding: 0 1em;
        }
        span {
            color: #FF4842;
        }
        .learn-more-btn {
            text-decoration: none;
            color: white;
            padding: 0.8em;
            border-radius: 10px;
            background-color: #FF4842;
        }
        .learn-more-btn:hover {
            background-color: #cc3a35;
            border: 2px solid rgba(2, 2, 2, .3);
        }
    }
}

//This is for the outline page

.separate-elements {
    margin: 16em 0;
}

// All @media queries down here

@media(min-width: 975px) {
    .section-two {
        display: flex;
        .main-elements {
            text-align: start;
            margin-top: 4em;
            margin-left:5em;
            margin-right: 40em;
            h1 {
                margin-bottom: .5em;
            }
            h2 {
                font-weight: 200;
                font-size: 1.9em;
            }
            p {
                font-size: 1.1em;
            }
        }
        .join-form {
            left: 100%;
            transform: translate(-100%);
            margin-left: -5em;
        }
    }
    .section-five {
        display: flex;
        height: 95vh;
        .main-elements {
            text-align: start;
            margin-top: 4em;
            margin-left:5em;
            margin-right: 40em;
            h1 {
                margin-bottom: .5em;
            }
            h2 {
                font-weight: 200;
                font-size: 1.9em;
            }
            p {
                font-size: 1.1em;
            }
        }
        .join-form {
            left: 100%;
            transform: translate(-100%);
            margin-left: -5em;
        }
    }

    .section-six {
        display: flex;
        .main-elements {
            margin: 0 8em;
        }
        .separate-elements {
            margin: 18.5em 0;
        }
    }

    .section-seven {
        display: flex;
        .main-elements {
            text-align: end;
            margin-top: 4em;
            margin-left: 40em;
            margin-right: 5em;
            h1 {
                margin-bottom: .5em;
            }
            h2 {
                font-weight: 200;
                font-size: 1.9em;
            }
            p {
                font-size: 1.1em;
            }
        }
    }

    .section-eight {
        display: flex;
        .main-elements {
            margin: 0 3.5em;
            li {
                line-height: 1%;
            }
        }
    }

}